In [2]:
import findspark

In [3]:
findspark.init("/opt/manual/spark")

In [4]:
from pyspark.sql import SparkSession, functions as F

In [5]:
spark = SparkSession.builder\
.appName("Define a Custom Schema")\
.master("local[2]")\
.getOrCreate()

In [6]:
! wget -P ~/datasets https://github.com/erkansirin78/datasets/raw/master/Hotel_Reviews.csv.gz

--2022-05-06 21:12:25--  https://github.com/erkansirin78/datasets/raw/master/Hotel_Reviews.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/erkansirin78/datasets/master/Hotel_Reviews.csv.gz [following]
--2022-05-06 21:12:25--  https://raw.githubusercontent.com/erkansirin78/datasets/master/Hotel_Reviews.csv.gz
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 46401315 (44M) [application/octet-stream]
Saving to: ‘/home/train/datasets/Hotel_Reviews.csv.gz.1’

100%[======================================>] 46,401,315  1.97MB/s   in 46s

2022-05-06 21:13:14 (975 KB/s) - ‘/home/train/datasets/Hotel_Reviews.csv.gz.1’ saved [46401315/46401315]

In [7]:
df = spark.read\
.option("header", True)\
.option("inferSchema", True)\
.option("compression", "gzip")\
.csv("file:///home/train/datasets/Hotel_Reviews.csv.gz")

In [8]:
df.count()

515738

In [9]:
df.limit(10).toPandas()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.3605759,4.9159683
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.3605759,4.9159683
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.3605759,4.9159683
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.3605759,4.9159683
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.3605759,4.9159683
5,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,Poland,Backyard of the hotel is total mess shouldn t...,17,1403,Good restaurant with modern design great chil...,20,1,6.7,"[' Leisure trip ', ' Group ', ' Duplex Double ...",10 days,52.3605759,4.9159683
6,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Cleaner did not change our sheet and duvet ev...,33,1403,The room is spacious and bright The hotel is ...,18,6,4.6,"[' Leisure trip ', ' Group ', ' Duplex Twin Ro...",17 days,52.3605759,4.9159683
7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Apart from the price for the brekfast Everyth...,11,1403,Good location Set in a lovely park friendly s...,19,1,10.0,"[' Leisure trip ', ' Couple ', ' Duplex Double...",17 days,52.3605759,4.9159683
8,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/9/2017,7.7,Hotel Arena,Belgium,Even though the pictures show very clean room...,34,1403,No Positive,0,3,6.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",25 days,52.3605759,4.9159683
9,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/8/2017,7.7,Hotel Arena,Norway,The aircondition makes so much noise and its ...,15,1403,The room was big enough and the bed is good T...,50,1,7.9,"[' Leisure trip ', ' Couple ', ' Large King Ro...",26 days,52.3605759,4.9159683

In [10]:
len(df.columns)

17

In [11]:
df.printSchema()

root
 |-- Hotel_Address: string (nullable = true)
 |-- Additional_Number_of_Scoring: integer (nullable = true)
 |-- Review_Date: string (nullable = true)
 |-- Average_Score: double (nullable = true)
 |-- Hotel_Name: string (nullable = true)
 |-- Reviewer_Nationality: string (nullable = true)
 |-- Negative_Review: string (nullable = true)
 |-- Review_Total_Negative_Word_Counts: integer (nullable = true)
 |-- Total_Number_of_Reviews: integer (nullable = true)
 |-- Positive_Review: string (nullable = true)
 |-- Review_Total_Positive_Word_Counts: integer (nullable = true)
 |-- Total_Number_of_Reviews_Reviewer_Has_Given: integer (nullable = true)
 |-- Reviewer_Score: double (nullable = true)
 |-- Tags: string (nullable = true)
 |-- days_since_review: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- lng: string (nullable = true)

In [12]:
df.schema

StructType(List(StructField(Hotel_Address,StringType,true),StructField(Additional_Number_of_Scoring,IntegerType,true),StructField(Review_Date,StringType,true),StructField(Average_Score,DoubleType,true),StructField(Hotel_Name,StringType,true),StructField(Reviewer_Nationality,StringType,true),StructField(Negative_Review,StringType,true),StructField(Review_Total_Negative_Word_Counts,IntegerType,true),StructField(Total_Number_of_Reviews,IntegerType,true),StructField(Positive_Review,StringType,true),StructField(Review_Total_Positive_Word_Counts,IntegerType,true),StructField(Total_Number_of_Reviews_Reviewer_Has_Given,IntegerType,true),StructField(Reviewer_Score,DoubleType,true),StructField(Tags,StringType,true),StructField(days_since_review,StringType,true),StructField(lat,StringType,true),StructField(lng,StringType,true)))

In [13]:
from pyspark.sql.types import *

programmatical_schema = StructType([
StructField("Hotel_Address",StringType(),True),
StructField("Additional_Number_of_Scoring",IntegerType(),True),
StructField("Review_Date",StringType(),True),
StructField("Average_Score",FloatType(),True),
StructField("Hotel_Name",StringType(),True),
StructField("Reviewer_Nationality",StringType(),True),
StructField("Negative_Review",StringType(),True),
StructField("Review_Total_Negative_Word_Counts",IntegerType(),True),
StructField("Total_Number_of_Reviews",IntegerType(),True),
StructField("Positive_Review",StringType(),True),
StructField("Review_Total_Positive_Word_Counts",IntegerType(),True),
StructField("Total_Number_of_Reviews_Reviewer_Has_Given",IntegerType(),True),
StructField("Reviewer_Score",FloatType(),True),
StructField("Tags",StringType(),True),
StructField("days_since_review",StringType(),True),
StructField("lat",FloatType(),True),
StructField("lng",FloatType(),True)
])

In [14]:
df2 = spark.read\
.schema(programmatical_schema)\
.option("header", True)\
.option("sep", ",")\
.option("compression", "gzip")\
.csv("file:///home/train/datasets/Hotel_Reviews.csv.gz")

In [15]:
df2.printSchema()

root
 |-- Hotel_Address: string (nullable = true)
 |-- Additional_Number_of_Scoring: integer (nullable = true)
 |-- Review_Date: string (nullable = true)
 |-- Average_Score: float (nullable = true)
 |-- Hotel_Name: string (nullable = true)
 |-- Reviewer_Nationality: string (nullable = true)
 |-- Negative_Review: string (nullable = true)
 |-- Review_Total_Negative_Word_Counts: integer (nullable = true)
 |-- Total_Number_of_Reviews: integer (nullable = true)
 |-- Positive_Review: string (nullable = true)
 |-- Review_Total_Positive_Word_Counts: integer (nullable = true)
 |-- Total_Number_of_Reviews_Reviewer_Has_Given: integer (nullable = true)
 |-- Reviewer_Score: float (nullable = true)
 |-- Tags: string (nullable = true)
 |-- days_since_review: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- lng: float (nullable = true)

In [19]:
df2.select("Reviewer_Score", F.expr("Reviewer_Score * 10").alias("Ten Fold Reviewer Score")).limit(5).toPandas()

   Reviewer_Score  Ten Fold Reviewer Score
0             2.9                     29.0
1             7.5                     75.0
2             7.1                     71.0
3             3.8                     38.0
4             6.7                     67.0

In [22]:
df2.select(F.col("Reviewer_Score")>9.5).limit(20).toPandas()

    (Reviewer_Score > 9.5)
0                    False
1                    False
2                    False
3                    False
4                    False
5                    False
6                    False
7                     True
8                    False
9                    False
10                    True
11                   False
12                   False
13                   False
14                   False
15                    True
16                   False
17                   False
18                   False
19                   False

In [24]:
df2.withColumn("Is_positive", F.expr("Reviewer_Score>5.0")).select("Reviewer_Score", "Is_positive").show(5)

+--------------+-----------+
|Reviewer_Score|Is_positive|
+--------------+-----------+
|           2.9|      false|
|           7.5|       true|
|           7.1|       true|
|           3.8|      false|
|           6.7|       true|
+--------------+-----------+
only showing top 5 rows

# Kolon Seçimi

In [29]:
df2.select("Reviewer_Score").show(5)

+--------------+
|Reviewer_Score|
+--------------+
|           2.9|
|           7.5|
|           7.1|
|           3.8|
|           6.7|
+--------------+
only showing top 5 rows

In [30]:
df2.select(F.col("Reviewer_Score")).show(5)

+--------------+
|Reviewer_Score|
+--------------+
|           2.9|
|           7.5|
|           7.1|
|           3.8|
|           6.7|
+--------------+
only showing top 5 rows

In [33]:
df2.select(df2["Reviewer_Score"]).show(5)

+--------------+
|Reviewer_Score|
+--------------+
|           2.9|
|           7.5|
|           7.1|
|           3.8|
|           6.7|
+--------------+
only showing top 5 rows

In [34]:
df2.select(df2.Reviewer_Score).show(5)

+--------------+
|Reviewer_Score|
+--------------+
|           2.9|
|           7.5|
|           7.1|
|           3.8|
|           6.7|
+--------------+
only showing top 5 rows